= semantic_form_for(@player) do |f|
  = render "shared/error_messages", :target => @player
  = f.inputs do
    = f.input :LastName, :label =>"Last Name", :required => true
    = f.input :FirstName, :label =>"First Name", :required => true
    = f.input :Nickname, :label =>"Nickname"
    = f.input :ClubHandicap, :label =>"Club Handicap"
    = f.input :SOSHandicap, :label =>"SOS Handicap"

  = f.buttons do
    = f.commit_button :button_html => { :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" }