%h1 Listing players

%table
  %tr
    %th Lastname
    %th Firstname
    %th Nickname
    %th Clubhandicap
    %th Soshandicap
    %th
    %th
    %th

  - @players.each do |player|
    %tr
      %td= player.LastName
      %td= player.FirstName
      %td= player.Nickname
      %td= player.ClubHandicap
      %td= player.SOSHandicap
      %td= link_to 'Show', player
      %td= link_to 'Edit', edit_player_path(player)
      %td= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Player', new_player_path
