%table#players.display{:border => "0", :cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th Last Name
      %th First Name
      %th Nickname
      %th Club Handicap
      %th SoS Handicap
      - if can? :update, @player
        %th Edit
        %th Delete
  %tbody
    - @players.each do |player|
      %tr
        %td= player.LastName
        %td= player.FirstName
        %td= player.Nickname
        %td= player.ClubHandicap
        %td= player.SOSHandicap
        - if can? :update, @player
          %td= link_to 'Edit', edit_player_path(player)
          %td= link_to 'Delete', player, :confirm => 'Are you sure?', :method => :delete
%br
- if can? :update, @player
  #DefaultStateButton
    = link_to 'New Player', new_player_path







