!!!
%html
  %head
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}/
    %title Stars On Sunday Golf Society
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if IE 6] <haml:loud> stylesheet_link_tag 'ie6' </haml:loud>
    /[if IE 7] <haml:loud> stylesheet_link_tag 'ie7' </haml:loud>
  %body
    #page
      #header
        %h1
          %a{:href => "#"} Stars on Sunday Golf Society
        .description
          - if user_signed_in?
            Signed in as #{current_user.email}
      #mainarea
        #contentarea
          - flash.each do |name, msg|
            = content_tag :div, raw(msg), :id => "flash_#{name}"
          = yield
        #sidebar
          #sidebarnav
            = link_to "Home", root_path
            = link_to "Players", players_path
            - if user_signed_in?
              = link_to "Sign out", users_sign_out_path, :method => :delete
            - else
              = link_to "Sign in", new_session_path
            - if user_signed_in?
              = link_to "Profile", profile_path(:id => current_user.id)

            %a{:href => "#"}
              %span Contact Us
          %h2 TESTIMONIALS
      #footer
        %a{:href => "http://www.templatesold.com/", :target => "_blank"} Website Templates
        by
        %a{:href => "http://www.free-css-templates.com/", :target => "_blank"} Free CSS Templates

